<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.muhnizar.startingappwithswipeview" >

    <uses-permission android:name="android.permission.CALL_PHONE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SimpleMessageActivity"
            android:label="@string/title_activity_simple_message" >
        </activity>
        <activity
            android:name=".CallIntentsActivity"
            android:label="@string/title_activity_call_intents" >
        </activity>
        <activity
            android:name="com.example.muhnizar.shoppingCart.Catalog"
            android:label="@string/title_activity_catalog" >
        </activity>
        <activity
            android:name="com.example.muhnizar.shoppingCart.ProductDetailsActivity"
            android:label="@string/title_activity_product_details" >
        </activity>
        <activity
            android:name="com.example.muhnizar.shoppingCart.CatalogActivity"
            android:label="@string/title_activity_catalog" >
        </activity>
    </application>

</manifest>
